<a href="https://colab.research.google.com/github/fds-imane/ELK_projet/blob/main/data_marketing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Lumina & CO

### Infos data



>   customers.csv     : il y a 50,000 clients

>  transactions.csv  : il y a 1,837,137 transactions

> touchpoints.csv   : 394,876 touchpoints

> campaigns.csv     : 6 campagnes

## Etape I - Hajar

### Chargement des données

In [ ]:
import pandas as pd

# Charger les fichiers CSV
customers = pd.read_csv('customers.csv')
transactions = pd.read_csv('transactions.csv')
campaigns = pd.read_csv('campaigns.csv')

print("Les 3 fichiers sont chargés avec succès.")

Les 3 fichiers sont chargés avec succès.

### Aperçu des données



> data Clients

In [ ]:
print("--- Aperçu des données ---")
display(customers.head(3))

print("\n--- Structure technique ---")
customers.info()

--- Aperçu des données ---

,customer_id,country,first_purchase,last_purchase,n_orders,total_spent,avg_basket,recency_days,tenure_days
0,46995,United Kingdom,2011-08-09 12:20:00,2011-11-16 12:20:00,2.28,57.34,26.44,23.83,99.17
1,22869,United Kingdom,2010-01-11 12:20:00,2011-10-30 12:20:00,46.53,19463.52,356.65,40.92,657.12
2,12593,France,2011-05-05 09:29:00,2011-05-05 09:29:00,1.00,39.50,39.50,218.00,218.00

--- Structure technique ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     50000 non-null  int64
 1   country         50000 non-null  object
 2   first_purchase  50000 non-null  object
 3   last_purchase   50000 non-null  object
 4   n_orders        50000 non-null  float64
 5   total_spent     50000 non-null  float64
 6   avg_basket      50000 non-null  float64
 7   recency_days    50000 non-null  float64
 8   tenure_days     50000 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 3.4+ MB



> data Transactions

In [ ]:
print("--- Aperçu des données ---")
display(transactions.head(3))
print("\n--- Structure technique ---")
transactions.info()

--- Aperçu des données ---

,invoice_id,customer_id,product_code,product_name,quantity,unit_price,invoice_date,country
0,513574,NaN,22382,LUNCH BAG SPACEBOY DESIGN,2.0,4.21,2010-06-25 15:13:00,United Kingdom
1,609421,NaN,21028,PURPLE GEMSTONE BRACELET,2.0,8.95,2011-10-16 12:20:00,United Kingdom
2,515609,NaN,47591B,SCOTTIES CHILDRENS APRON,1.0,1.66,2010-07-13 15:44:00,United Kingdom

--- Structure technique ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1837137 entries, 0 to 1837136
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   invoice_id    object
 1   customer_id   float64
 2   product_code  object
 3   product_name  object
 4   quantity      float64
 5   unit_price    float64
 6   invoice_date  object
 7   country       object
dtypes: float64(3), object(5)
memory usage: 112.1+ MB



> data Campagnes

In [ ]:
print("--- Aperçu des données ---")
display(campaigns.head(3))
print("\n--- Structure technique ---")
campaigns.info()

--- Aperçu des données ---

,campaign_name,n_touchpoints,n_clients,n_clicks,n_conversions,total_cost,ctr,conversion_rate,cpa,estimated_revenue,roas,primary_channel,start_date,end_date
0,Back_to_School_2023,66227,28490,55034,19562,33567.3308,0.8310,0.6866,1.72,2.322968e+06,69.20,display,2011-02-07 12:50:10.962302767,2011-04-06 00:25:44.582665987
1,Black_Friday_2023,66359,28495,55044,19467,33685.2149,0.8295,0.6832,1.73,2.329076e+06,69.14,display,2011-04-09 12:51:22.412046629,2011-06-06 00:22:19.188015913
2,Spring_Launch_2024,65691,28373,54446,19436,33178.9170,0.8288,0.6850,1.71,2.078515e+06,62.65,display,2011-10-09 12:50:33.541271535,2011-12-06 00:48:13.617049075

--- Structure technique ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   campaign_name      6 non-null      object
 1   n_touchpoints      6 non-null      int64
 2   n_clients          6 non-null      int64
 3   n_clicks           6 non-null      int64
 4   n_conversions      6 non-null      int64
 5   total_cost         6 non-null      float64
 6   ctr                6 non-null      float64
 7   conversion_rate    6 non-null      float64
 8   cpa                6 non-null      float64
 9   estimated_revenue  6 non-null      float64
 10  roas               6 non-null      float64
 11  primary_channel    6 non-null      object
 12  start_date         6 non-null      object
 13  end_date           6 non-null      object
dtypes: float64(6), int64(4), object(4)
memory usage: 804.0+ bytes

In [ ]:
# Inspection des types et dates
transactions['invoice_date'] = pd.to_datetime(transactions['invoice_date'], errors='coerce')

print(f"Période des transactions : du {transactions['invoice_date'].min()} au {transactions['invoice_date'].max()}")

# Vérifier les types attendus
print("\nTypes de données pour les transactions :")
print(transactions.dtypes)

Période des transactions : du 2007-07-06 12:20:00 au 2011-12-09 12:50:00

Types de données pour les transactions :
invoice_id              object
customer_id              Int64
product_code            object
product_name            object
quantity               float64
unit_price             float64
invoice_date    datetime64[ns]
country                 object
dtype: object

Ici, nous remarquons que les colonnes dates dans les données clients & transactions sont marquées avec de mauvais types de données, nous devons les convertir afin d'assurer la suite des analyses.

### Conversion des bon types de données

In [ ]:
#Transformer les dates

# Pour les clients
customers['first_purchase'] = pd.to_datetime(customers['first_purchase'])
customers['last_purchase'] = pd.to_datetime(customers['last_purchase'])

# Pour les transactions
transactions['invoice_date'] = pd.to_datetime(transactions['invoice_date'])

print("Datetime now exploitables !")

Datetime now exploitables !

### Analyse & doublon du dataset

In [ ]:
# Analyse rapide du dataset
datasets = {"Clients": customers, "Transactions": transactions, "Campagnes": campaigns}

for nom, df in datasets.items():
    print(f"\n--- Analyse : {nom} ---")
    print(f"Lignes : {df.shape[0]} | Colonnes : {df.shape[1]}")

    # Vérification des doublons pour verifier lunicité
    nb_doublons = df.duplicated().sum()
    if nb_doublons > 0:
        print(f"{nb_doublons} lignes en double détectées !")
    else:
        print("propre propre propre !!!!")

--- Analyse : Clients ---
Lignes : 50000 | Colonnes : 9
propre propre propre !!!!

--- Analyse : Transactions ---
Lignes : 1837137 | Colonnes : 8
34522 lignes en double détectées !

--- Analyse : Campagnes ---
Lignes : 6 | Colonnes : 14
propre propre propre !!!!

Hypothèse : il se pourrait que le système ai pu valider 2 fois la même ligne si l'utilisateur rafraîchit sa page ou s'il y a un bug réseau ce qui expliquerait les doublons. Pour ne pas prendre de risques, nous allons les supprimer afin d'éviter de surestimer le CA de l'entreprise.

In [ ]:
# Nettoyer les doublons et corriger les ids

# On supprime les 34 522 doublons des transactions
transactions = transactions.drop_duplicates()

# On convertit l id client en entier
transactions['customer_id'] = transactions['customer_id'].astype('Int64')

print(f" Doublons supprimés. Nouveau volume : {len(transactions)} lignes.")

 Doublons supprimés. Nouveau volume : 1802615 lignes.

### Valeurs manquantes

In [ ]:
# Checkpoint des valeurs manquantes en %
def check_missing(df):
    missing_pct = (df.isnull().sum() / len(df)) * 100
    # On ne garde que les colonnes qui ont des manques pour y voir clair
    return missing_pct[missing_pct > 0].round(2)

print("Pourcentage de valeurs manquantes :")
print(f"Clients :\n{check_missing(customers)}\n")
print(f"Transactions :\n{check_missing(transactions)}\n")
print(f"Campagnes :\n{check_missing(campaigns)}")

Pourcentage de valeurs manquantes :
Clients :
Series([], dtype: float64)

Transactions :
customer_id     22.77
product_name     0.41
quantity         0.88
dtype: float64

Campagnes :
Series([], dtype: float64)

Hypothèse : Nous remarquons que plus de 22% de customer_id n'est pas reliée à un client identifié, ceci est énorme, il se peut qu'on relève des bug dans le trackind de l'id client au moment de la vente.

*   Nous remarquons aussi que product_name & quantity sont  faible en proportions mais c'est étrange à creuser !

Nous avons observés une quantité de 50 000 clients enregistrés dans les données clients. Le volume de transactions s'élève à 1 837 137 transactions sur une période allant de 2007 à 2011. C'est un dataset qui couvre 5ans d'activités.

In [ ]:
# Le contrôle final

print("Rapport de qualité après nettoyage des données :\n")

print("Vérification des types:")
check_types = {
    "Transactions (Date)": transactions['invoice_date'].dtype,
    "Transactions (ID)": transactions['customer_id'].dtype,
    "Clients (Date)": customers['first_purchase'].dtype
}
for info, dtype in check_types.items():
    print(f" - {info}: {dtype} ")

# Vérification des doublons
print(f"\n Doublons restants dans Transactions : {transactions.duplicated().sum()}")

# État des Valeurs Manquantes (NaN)
print("\n Valeurs manquantes :")
def missing_report(df, name):
    pct = (df.isnull().sum() / len(df)) * 100
    print(f" --- {name} ---")
    print(pct[pct > 0] if pct.sum() > 0 else "Aucun vide !")

missing_report(transactions, "Transactions")
missing_report(customers, "Clients")

# Aperçu final
print("\n Aperçu des 3 premières lignes de Transactions :")
display(transactions.head(3))

Rapport de qualité après nettoyage des données :

Vérification des types:
 - Transactions (Date): datetime64[ns]
 - Transactions (ID): Int64
 - Clients (Date): datetime64[ns]

 Doublons restants dans Transactions : 0

 Valeurs manquantes :
 --- Transactions ---
customer_id     22.766370
product_name     0.412456
quantity         0.897918
dtype: float64
 --- Clients ---
Aucun vide !

 Aperçu des 3 premières lignes de Transactions :

,invoice_id,customer_id,product_code,product_name,quantity,unit_price,invoice_date,country
0,513574,<NA>,22382,LUNCH BAG SPACEBOY DESIGN,2.0,4.21,2010-06-25 15:13:00,United Kingdom
1,609421,<NA>,21028,PURPLE GEMSTONE BRACELET,2.0,8.95,2011-10-16 12:20:00,United Kingdom
2,515609,<NA>,47591B,SCOTTIES CHILDRENS APRON,1.0,1.66,2010-07-13 15:44:00,United Kingdom

## Etape II - Meryem

In [ ]:
import pandas as pd

df_cust = pd.read_csv('customers.csv')
df_trans = pd.read_csv('transactions.csv')

# Aperçu et Types de données
print("--- CUSTOMERS INFO ---")
print(df_cust.info())
print("\n--- TRANSACTIONS INFO ---")
print(df_trans.info())

--- CUSTOMERS INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     50000 non-null  int64
 1   country         50000 non-null  object
 2   first_purchase  50000 non-null  object
 3   last_purchase   50000 non-null  object
 4   n_orders        50000 non-null  float64
 5   total_spent     50000 non-null  float64
 6   avg_basket      50000 non-null  float64
 7   recency_days    50000 non-null  float64
 8   tenure_days     50000 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 3.4+ MB
None

--- TRANSACTIONS INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1837137 entries, 0 to 1837136
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   invoice_id    object
 1   customer_id   float64
 2   product_code  object
 3   product_name  object
 4   quantity      float64
 5   unit_price    float64
 6   invoice_date  object
 7   country       object
dtypes: float64(3), object(5)
memory usage: 112.1+ MB
None

In [ ]:
# 1. Nombre de clients et transactions
print(f"Nombre de clients uniques : {df_cust['customer_id'].nunique()}")
print(f"Nombre total de transactions : {len(df_trans)}")

# 2. Valeurs manquantes (Proportion)
print("\n--- Valeurs manquantes (%) ---")
print("Customers :\n", df_cust.isnull().mean() * 100)
print("Transactions :\n", df_trans.isnull().mean() * 100)

# 3. Doublons
print(f"\nDoublons dans Customers : {df_cust.duplicated().sum()}")
print(f"Doublons dans Transactions : {df_trans.duplicated().sum()}")

# 4. Période (pensez à convertir en datetime si ce n'est pas fait)
df_trans['invoice_date'] = pd.to_datetime(df_trans['invoice_date'])
print(f"\nPériode : de {df_trans['invoice_date'].min()} à {df_trans['invoice_date'].max()}")

Nombre de clients uniques : 50000
Nombre total de transactions : 1837137

--- Valeurs manquantes (%) ---
Customers :
 customer_id       0.0
country           0.0
first_purchase    0.0
last_purchase     0.0
n_orders          0.0
total_spent       0.0
avg_basket        0.0
recency_days      0.0
tenure_days       0.0
dtype: float64
Transactions :
 invoice_id       0.000000
customer_id     22.766838
product_code     0.000000
product_name     0.410530
quantity         0.881099
unit_price       0.000000
invoice_date     0.000000
country          0.000000
dtype: float64

Doublons dans Customers : 0
Doublons dans Transactions : 34522

Période : de 2007-07-06 12:20:00 à 2011-12-09 12:50:00

**1 Analyse et nettoyage de transactions.csv**

Les customer_id manquants: que représentent ces lignes ? Faut-il les supprimer ou les conserver ?

**Analyse** : Environ 22,8% des transactions n'ont pas d'identifiant client. Cela correspond généralement à des ventes "Invités" (Guest Checkout) ou des erreurs techniques lors de l'export du CRM.

**Décision** : Nous conservons ces lignes pour ne pas sous-estimer le chiffre d'affaires global et la saisonnalité. Cependant, elles seront exclues lors de la segmentation comportementale (RFM) car l'identité client est manquante.

In [ ]:
# Identification des manquants
missing_cust = df_trans['customer_id'].isnull().sum()
print(f"Transactions sans customer_id : {missing_cust} ({missing_cust/len(df_trans):.1%})")

Transactions sans customer_id : 418258 (22.8%)

Les quantity négatives: d'où viennent-elles ? Quel impact sur les agrégations futures ?

**Analyse** : Les quantités négatives proviennent des retours clients, des annulations de commandes ou des ajustements d'inventaire.

**Décision** : Elles doivent être conservées pour le calcul du CA net (vision comptable), mais elles doivent être isolées pour ne pas biaiser le calcul du panier moyen marketing.

In [ ]:
# Identification des retours
print(f"Nombre de lignes avec quantité < 0 : {(df_trans['quantity'] < 0).sum()}")

Nombre de lignes avec quantité < 0 : 23314

Les unit_price à zéro: anomalie ou cas métier légitime ?

**Analyse** : Un prix nul peut être légitime (cadeaux promotionnels, échantillons, garanties) ou une anomalie (données manquantes, erreurs d'interface).

**Décision** : Nous les conservons s'ils sont associés à des noms de produits réels, mais nous les documentons comme étant des opérations marketing sans valeur monétaire directe.

In [ ]:
# Aperçu des produits à 0€
print("Exemples de produits à prix nul :")
print(df_trans[df_trans['unit_price'] == 0]['product_name'].unique()[:10])

Exemples de produits à prix nul :
[' WHITE CHERRY LIGHTS' "Dotcom sold in 6's"
 'CHARLIE + LOLA RED HOT WATER BOTTLE' nan
 '3 GARDENIA MORRIS BOXED CANDLES' 'SINGLE HEART ZINC T-LIGHT HOLDER'
 'GREETING CARD, OVERCROWDED POOL.' 'IVORY PILLAR CANDLE GOLD FLOCK'
 'GOLD M.O.P ORBIT DROP EARRINGS' 'HANGING HEART ZINC T-LIGHT HOLDER']

Les product_code atypiques: identifiez les codes non-produits (frais de port, ajustements comptables, etc.)

Calculez line_total = quantity × unit_price. Vérifiez la cohérence.

**Analyse** : Certains codes comme POST (frais de port) ou D (Discount) ne sont pas des produits physiques mais des lignes de service ou d'ajustement.

**Décision** : Nous créons la colonne line_total pour vérifier la cohérence. Les lignes avec des quantités NaN sont supprimées car elles empêchent tout calcul fiable.

In [ ]:
# Suppression des lignes sans quantité pour la cohérence
df_trans = df_trans.dropna(subset=['quantity'])

# Calcul de la ligne totale
df_trans['line_total'] = df_trans['quantity'] * df_trans['unit_price']

# Identification des codes de service (contiennent des lettres et ne sont pas des variantes)
atypical_codes = df_trans[df_trans['product_code'].str.contains('^[a-zA-Z]+$', na=False)]['product_code'].unique()
print(f"Codes atypiques identifiés : {atypical_codes}")

Codes atypiques identifiés : ['POST' 'M' 'DOT' 'PADS' 'B' 'S' 'AMAZONFEE' 'ADJUST' 'DCGSLGIRL' 'GIFT'
 'D' 'DCGSSGIRL' 'CRUK' 'DCGSLBOY' 'DCGSSBOY' 'm']

In [ ]:
df_cust['first_purchase'] = pd.to_datetime(df_cust['first_purchase'])
df_cust['last_purchase'] = pd.to_datetime(df_cust['last_purchase'])

date_anomalies = df_cust[df_cust['first_purchase'] > df_cust['last_purchase']]
print(f"Nombre d'anomalies de dates : {len(date_anomalies)}")

Nombre d'anomalies de dates : 0